html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

canvas {
    background-color: black;
}

#minimap {
    position: absolute;
    right: 10px;
    visibility: hidden;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.input_group {
    padding: 0;
}