html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    overflow: auto;
}

canvas {
    background-color: black;
    display: block;
}

#map {
    display: block;
}

#minimap {
    position: absolute;
    right: 10px;
    top: 10px;
    visibility: hidden;
    pointer-events: none;
}

#minimap[style*="visibility: visible"] {
    pointer-events: auto;
}

.controls {
    display: flex;
    justify-content: space-between;
}

#loading_ui {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#search_ui {
    display: none;
    justify-content: space-between;
    width: 100%;
}

#search_ui.visible {
    display: flex;
}

hr {
    margin: 5px 0;
}

.status {
}

.input_group {
    padding: 0;
}